:root {
  --main-text-color: #48555b;
  --complementary-color: #757575;
  --second-text-color: #ffffff;
  --activity-text-color: #00a4e5;
  --main-background-color: #ffffff;
  --complementary-backgraund-color: #2f303a;
}
body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  /* max-width: 1600px; */
  font-family: OpenSans, sans-serif;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ==================Header===================== */
.hero {
  width: 1440px;

  margin: 0 auto;
  border: 1px solid #979797;
  text-align: center;
  /* background-image: url(../img/bg_header.jpg); */
  background-image: url(../img/bg_hero.jpg);
}
.hero .logo {
  margin-top: 41px;
  margin-bottom: 317px;
}

.hero-title {
  font-size: 30px;
  line-height: 70px;

  text-align: center;
  letter-spacing: 5.70937px;

  color: #ffffff;
  margin-bottom: 21px;
}
.descrpt {
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  color: #ffffff;
  margin-bottom: 221px;
}
.scrol {
  font-size: 11px;
  line-height: 13px;

  text-align: center;
  letter-spacing: 3.7px;

  color: #ffffff;
  padding-bottom: 40px;
}

/* ================MainNav================ */

.sitenav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
nav {
  border-bottom: 1px solid #e6e6e6;
}
.nav-list {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.nav-list .link {
  position: relative;
  font-size: 12px;
  line-height: 14px;

  padding-bottom: 25px;
  padding-top: 25px;

  letter-spacing: 1.09091px;

  color: #48555b;
}

.nav-list .link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--activity-text-color);
  transform: scale(0);
  transition: transform 300ms;
}

.nav-list .link:hover::after {
  transform: scale(1);
}

.nav-list .link:hover {
  color: var(--activity-text-color);
}
/* <!-- ==========OUR STORY============== --> */

.our-story {
  margin-top: 50px;
}
.our-story .title {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2.30625px;

  color: #48555b;
  margin-bottom: 90px;
}

.our-story .title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--activity-text-color);
  margin: 0 auto;
  margin-top: 10px;
}
.history {
  width: 391px;
}
.history-title {
  font-size: 20px;
  line-height: 23px;

  letter-spacing: 0.1875px;

  color: #48555b;
  margin-bottom: 30px;
}
.history-descrp {
  font-size: 13px;
  line-height: 23px;

  display: flex;
  align-items: center;
  letter-spacing: 0.1875px;

  color: #48555b;
}
.history-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.we {
  display: flex;
}
.we-image {
  display: block;
}
.we .we-image {
  margin-right: 19px;
}
.we .we-image:last-child {
  margin-right: 0;
}
.img-wrap {
  position: relative;
}
.img-descrpt {
  position: absolute;
  display: flex;
  left: 14px;
  top: 15px;
}
.img-descrpt-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  /* or 121% */

  letter-spacing: 0.1875px;

  color: #ffffff;
}
